<!-- Modal - Confirm delete reservation -->
<div class="modal fade" id="res-modal-{{ reservation.reservation_id }}" tabindex="-1" role="dialog"
     aria-labelledby="res-modal-{{ reservation.reservation_id }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: white">
      <div class="modal-header">
        <h5 class="modal-title" id="res-modal-Label">Confirm</h5>
        <button type="button"  class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('delete_reservation', reservationID=reservation.reservation_id) }}">
          {{ delete_res_form.hidden_tag() }}

          <h4 class="text-center">Are you sure you want to delete this reservation?</h4>
          <br>
          <h6 class="text-center">
            By clicking "Delete", you will permanently cancel this reservation.
          </h6>
          <br>
          <input id="deleted_item" name="deleted_item" type="hidden" value="{{ reservation.reservation_id }}">
          {{ delete_res_form.submit(class="btn btn-danger btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
